<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - JEDCMobilityManager.Web</title>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Head", false)
    </head>
    <body>
        @RenderBody()
    </body>
</html>
